.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .feature-content {
    margin: 0 auto;
    width: 80%;
    .link-hook {
      all: unset;
    }
    .featured {
      list-style-type: none;

      .item {
        display: flex;
        //justify-content: space-around;
        border: 1px solid rgba(83, 85, 91, 0.13);
        border-radius: 10px;
        padding: 1rem;
        margin: 10px 0;
        .avatar-container {
          margin: 1rem;
        }
        .investor-details {
          margin: 0 2rem;
        }
      }
    }
  }
  .outreach {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    padding: 4rem 0;

    .reach-roaster {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 4rem 0;
    }
  }
}
