.side-bar {
  margin: 2rem 0;
  height: 100%;

  .sidebar-list-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
      li {
        padding: 1rem;
      }
    }
  }
}
