.side-bar {
  height: 100%;
  border-right: 1px solid #282c34;

  .sidebar-list-container {
    list-style-type: none;
    a {
      text-decoration: none;
      li {
        padding: 1rem;
      }
    }
  }
}
