@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Montserrat:wght@300;500&family=Poppins:wght@300&display=swap");

body {
  margin: 0;
  font-family:
    "Lato",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  width: 100px;
  height: 40px;
  margin: 0 auto;
  outline: none;
  padding: 10px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  background-color: #282c34;
  color: white;
  font-weight: 500;

  cursor: pointer;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 1px solid lightblue;
  }
}
